<div class="reset-password">
    <h1>forget password</h1>
    <div class="form-control">
        <label for="email" class="form-control-title">Email: </label>
        <input [(ngModel)]="email" #em="ngModel" class="form-control-input" name="email" placeholder="Enter email" type="text" required email>
    </div>
    <span class="help-block" *ngIf="em.invalid && em.touched && em.errors.required">
        email field is required ! 
    </span>
    <span class="help-block" *ngIf="em.invalid && em.touched && em.errors.email">
        wrong email format ! 
    </span>
    <button type="button" [disabled]="!em.valid" (click)="onSubmit()">send reset link !</button>
</div>