<div class="bg-image"></div>
<div class="container">
    <h1>Dashboard</h1>
    <h3>what do you want to do</h3>
    <div class="dashboard-container">
        <button (click)="linkToChangePassword()">Change Password</button>
        <button (click)="linkToChargeAccount()">Charge Account</button>
        <button (click)="linkToSupportTicket()">Support ticket</button>
        <button (click)="linkToBetHistory()">Bet's History</button>
        <button (click)="logout()">Logout</button>
    </div>
</div>