.roulette {
    position: relative;
    width: 1150px;
    max-width: 1150px;
    height: 115px;
    background-image: url('../../../assets/cases.png');
    background-position-x: -176px;
    color: white;
    margin: 20px auto 0 auto;
}

.roulette::before {
    content: "";
    left: 50%;
    top: 50%;
    width: 4px;
    background-color: rgba(61, 6, 6, 0.5);
    height: 100%;
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
}



@media only screen and (max-width: 1200px) {
    .roulette {
        width: 800px;
        background-position-x: -350px;
    }
}

@media only screen and (min-width: 1200px) {
    .roulette {
        background-position-x: -175px;
    }
}