.roulette {
    position: relative;
    width: 1150px;
    max-width: 1150px;
    height: 115px;
    background-image: url('../../../assets/cases.png');
    background-position-x: -176px;
    color: white;
    margin: 40px auto 0 auto;
}

.indicator {
    position: absolute;
    background-image: url('../../../assets/indicator.png');
    width: 14px;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

@media only screen and (max-width: 1200px) {
    .roulette {
        width: 800px;
        background-position-x: -350px;
    }
}

@media only screen and (min-width: 1200px) {
    .roulette {
        background-position-x: -176px;
    }
}