.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: -webkit-linear-gradient(rgb(124, 14, 14), rgb(80, 6, 6));
    min-height: 60px;
    z-index: 9999;
    opacity: 0.7;
    transition: opacity .5s;
}

.menu-disapear {
    opacity: 0;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 60px;
}


.menu-item {
    display: inline;
    text-transform: uppercase;
}

.menu-item a {
    padding: 8px;
    text-decoration: none;
    color: #eee;
    font-size: 1.2rem;
    display: block;
    height: 100%;
    width: 100%;
}

img {
    width: 30px;
    height: 30px;
    display: inline;
    vertical-align: middle;
    margin-left: 5px;
}

@media only screen and (max-width: 800px) {
    .menu-item {
        padding: 0 5px;
    }
    .menu-item a {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 620px) {
    .menu-item {
        padding: 0 5px;
    }
    .menu-item a {
        font-size: .6rem;
    }
}