<div class="bg-image"></div>
<div class="container">
    <h1>Change Password</h1>
    <h3>Please enter your new password</h3>
    <form (ngSubmit)="onSubmit()" [formGroup]="changePassForm">
        <div class="changepassword-container">
            <div class="form-control">
                <label class="form-control-title" for="password">New Password</label>
                <input class="form-control-input" formControlName="password" placeholder="enter new password" type="password" name="password">
            </div>
            <span class="help-block" *ngIf="changePassForm.get('password').invalid && changePassForm.get('password').touched && changePassForm.get('password').errors.required">
                password field is required ! 
            </span>
            <span class="help-block" *ngIf="changePassForm.get('password').invalid && changePassForm.get('password').touched && changePassForm.get('password').errors.minlength">
                password length must be at least 6 character ! 
            </span>
            <div class="form-control">
                <label class="form-control-title" for="cpassword">Confirm New Password</label>
                <input class="form-control-input" formControlName="cpassword" placeholder="Re-enter new password" type="password" name="cpassword">
            </div>
            <span class="help-block" *ngIf="changePassForm.get('cpassword').invalid && changePassForm.get('cpassword').touched && changePassForm.get('cpassword').errors.required">
                confirm password field is required ! 
            </span>
            <span class="help-block" *ngIf="changePassForm.get('cpassword').invalid && changePassForm.get('cpassword').touched && !changePassForm.get('cpassword').errors.isMatching">
                password not match ! 
            </span>
            <button [disabled]="!changePassForm.valid || loading">Change Password</button>
        </div>
    </form>
</div>