.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container > * {
    z-index: 2;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/roulette.jpg');
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(30%);
    z-index: 1;
    transition: filter 1s;
}

.bg-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
}
