<div class="bg-image"></div>
<div class="container">
    <app-timer></app-timer>
    <app-roulette></app-roulette>
    <app-latest-roll></app-latest-roll>
    <app-bet-control></app-bet-control>
    <div class="bets-container">
        <app-bet 
        betColor="red"
        betText="PLACE BET ( WIN X2 )"
        ></app-bet>
        <app-bet 
        betColor="green"
        betText="PLACE BET ( WIN X14 )"
        ></app-bet>
        <app-bet 
        betColor="black"
        betText="PLACE BET ( WIN X2 )"
        ></app-bet>
    </div>
</div>